@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To <b>StoreApp</b></h1>
    <p>Here we help you to store your <b>clients information</b> for your reference.</p>
    <br /><br /><br /><br />
    <p>Please Click on <a href="/Clients/Index" style="text-decoration: none;"><b>Clients</b></a> to Start Modify your clients informations...</p>
</div>
<style>
    body {
        background-color: ghostwhite}
        body footer {background-color: ghostwhite}
</style>